<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button (click)="onCloseModal.emit()" type="button" class="btn-close" aria-label="Close"></button>
      </div>
      <ng-content></ng-content>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="onCloseModal.emit()" type="button" class="btn btn-secondary">{{closeBtnText}}</button>
        <button (click)="onSubmit.emit()" type="button" class="btn btn-primary">{{submitBtnText}}</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop show"></div>

