<table class="table" *ngIf="contacts.length > 0; else emptyList">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts; trackBy: trackByFn" class="cursor" (click)="onContactSelected.emit(contact?.id)">
    <th scope="row">{{contact?.id}}</th>
    <td>{{contact?.firstName}}</td>
    <td>{{contact?.lastName}}</td>
  </tr>
  </tbody>
</table>
<ng-template #emptyList>
  <p class="text-center">Your Contact List is Empty</p>
</ng-template>
